@{
   Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.Title = "Alquila tu cancha - Canchas disponibles en tu ciudad en tiempo real";
}
<script src="~/Scripts/Views/Login.js"></script>
<!-- Page Heading -->
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <!-- Please change the type of user -->
            <h1 class="heading h2 mb-3 text-gray-800">Iniciar sesión</h1>
        </div>
        <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
            <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
            <span id="alert_message"></span>
        </div>
        <!--/ Please don't remove this -->
        <form class="frmEdition" id="frmEdition">
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="bs-component">
                        @Html.CtrlInput(id: "nombre", type: "email", label: "Nombre de usuario", columnDataName: "Fullname")
                        @Html.CtrlInput(id: "password", type: "password", label: "Contraseña", columnDataName: "Password")
                    </div>
                </div>
            </div>
        </form>
        <div class="button-block">
            @Html.CtrlButton(viewName: "Login", id: "btnLogin", label: "Iniciar sesión", onClickFunction: "Iniciar", buttonType: "primary")
        </div>
        <hr>
        <div class="text-center">
            <a href="@Url.Action("ForgotPassword", "Home")">Recuperar Contraseña?</a>
        </div>
    </div>
</div>

